@import '../../../../assets/scss/material_theming.scss';
.sign-in {
    width: 100%;
}

.welcome-man {
    background-image: url(/assets/image/little-man.jpg);
    background-position-x: 42rem;
    background-position-y: 12rem;
    background-size: 30%;
    background-repeat: no-repeat;
    // background-color: #f0f0f0;
    background-blend-mode: darken;
}

.submit-button {
    margin: 0 auto;
    height: 43px;
    font-size: 1.2rem;
    font-family: $font-title;
    letter-spacing: 2px;
}

.submit-info {
    margin-top: 20px;
}