<div class="container welcome-man">
    <div class="row my-divider"></div>
    <div class="row">
        <div class="col-lg-8">
            <div class="container">
                <h1 class="display-4 title"> 欢迎登录Lazor Blog </h1>
            </div>
            <mat-divider></mat-divider>
            <div class="container" (keydown.Enter)="sign_in($event)">
                <div class="row my-divider"></div>
                <div class="row">
                    <div class="col-lg-8">
                        <mat-form-field class="sign-in" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput [(ngModel)]="sign_in_data.name">
                        </mat-form-field>

                        <mat-form-field class="sign-in" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput [(ngModel)]="sign_in_data.password" type="password" />
                        </mat-form-field>
                        <div class="text-right">
                            <button mat-raised-button color="primary" class="w-100 submit-button" (click)="sign_in($event)">开始浏览</button>
                        </div>
                        <div class="lead w-100 submit-info">
                            如有任何问题，联系邮箱 sieglive@163.com
                        </div>
                    </div>
                </div>
                <div class="row my-divider"></div>
            </div>
        </div>
    </div>
    <div class="row my-divider"></div>
</div>