@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-teal);
$accent: mat-palette($mat-grey);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
@font-face {
    font-family: Zcool_fun;
    src: url('/assets/font/Zcool_fun.ttf');
}

$font-banner: 'Delius Swash Caps',
Zcool_fun,
Arial,
Helvetica,
sans-serif;

$font-title: 'Imprima',
Zcool_fun,
Arial,
Helvetica,
sans-serif;

$font-content: Arial,
Helvetica,
'Microsoft YaHei',
'Hiragino Sans GB',
'STHeiti Light',
sans-serif;

$font-list-text: 'Imprima',
Arial,
Helvetica,
'Microsoft YaHei',
'Hiragino Sans GB',
'STHeiti Light',

sans-serif;

$font-quote-text: 'Imprima',
Arial,
Helvetica,
'Microsoft YaHei',
'Hiragino Sans GB',
'STHeiti Light',
sans-serif;

$font-code: Monaco,
Inconsolata,
Consolas,
'Microsoft YaHei',
'Hiragino Sans GB',
'STHeiti Light',
Andale Mono,
monospace;

@mixin normal-shadow {
    transition: background 400ms cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    &:active {
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    }
}

@mixin link-style {
    a {
        color: map-get($primary, 500);
        margin: 0 .2rem;
        padding: 0;
        vertical-align: baseline;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: map-get($mat-orange, 500);
        }
    }
}

@mixin top-block {
    padding: .5rem 1rem;
    margin: 2rem auto;
}

@mixin top-block-mobile {
    padding: .2rem .5rem;
    margin: 1rem auto;
}

@mixin inner-block {
    padding: 0;
    margin: 2rem auto;
}

@mixin inner-block-mobile {
    padding: 0;
    margin: 1rem auto;
}
