@import '../../../assets/scss/material_theming.scss';
.footer {
    background-image: url(/assets/image/pw_maze_white.png);
    background-position-x: -12rem;
    // background-size: 95%;
    background-color: map-get($primary, 400); 
    background-blend-mode: color-burn;
    color: #fff;
    .footer-items {
        height: 8rem;
        a {
            color: #fff;
        }
    }
}