<div class="container-fluid footer">
    <div class="row">
        <div class="container">
            <div class="row spacer"></div>
            <div class="row align-items-center footer-items">
                <div class="col-lg-6">
                    <div class="lead text-capitalize">Powered by <a href="https://next.angular.io/">Angular 6.0</a> ©2018. </div>
                </div>
                <div class="col-lg-6">
                    <div class="lead text-capitalize"> Version: {{ version }}&nbsp;
                        <a href="http://www.miitbeian.gov.cn/">粤ICP备17088879号</a>
                    </div>
                </div>
            </div>
            <div class="row spacer"></div>
        </div>
    </div>
</div>