<nav #navbar class="navbar fixed-top navbar-expand-sm navbar-dark my-nav">
    <button mat-button routerLink="/">
        <svg class="site-logo" id="site-logo">
            <g class="site-icon" transform="scale(0.25, 0.25) translate(5, 15)">
                <polygon fill="white" points="83.8,71.4 87.1,68.2 95.1,81.1 90.3,87.5" data-part-id="logo__item--shape_1__0"></polygon>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="white" d="M45.1,24.1c0,0,37,11.4,42.3,44.3c5.8-6.4,7.5-17.4,3.3-28   c-0.4-1.1-0.9-2.1-1.4-3.1c-5.9-11.6-18.8-19-30.9-22.3c-11.8-3.2-21.2-3.3-32.7,1.1c-7.4,2.9-14,7-19.6,12.1   c11.1-3.2,22.6,1.4,32,9.6c9.2,7.9,15,15.3,21.2,24.3c6.4,9.2,13.3,14.1,21.9,10.7c0.8-0.3,1.6-0.7,2.4-1.2   C82,66.2,73.6,41.4,45.1,24.1z"
                    data-part-id="logo__item--shape_1__1"></path>
            </g>
        </svg>
        <span *ngIf="outer_width > 768" class="nav-button nav-logo">Star-T</span>
    </button>
    <div class="navbar-nav">
        <button mat-button *ngIf="outer_width > 768" routerLink="/main/home">
            <span class="nav-button nav-item">主页</span>
        </button>
        <!-- <button mat-button *ngIf="outer_width > 768" routerLink="/main/article/3313b082-deeb-11e7-8b88-525400196113">
            <span class="nav-button nav-item">文章</span>
        </button> -->
        <button mat-button *ngIf="outer_width > 768" routerLink="/main/about">
            <span class="nav-button nav-item">关于</span>
        </button>
    </div>
    <div class="collapse navbar-collapse"></div>
    <div class="navbar-nav">
        <button mat-button [matMenuTriggerFor]="menu">
            <span class="nav-button nav-item">{{ current_user ? current_user.user_name : '未登录' }}
                <mat-icon>account_box</mat-icon>
            </span>
        </button>
        <mat-menu #menu="matMenu" xPosition="before" class="nav-menu">
            <button mat-menu-item *ngIf="!account.current_user.value" routerLink="/main/auth" class="nav-menu">
                <span>登录</span>
            </button>
            <button mat-menu-item *ngIf="account.current_user.value && account.current_user.value.supervisor" routerLink="/main/user-management"
                class="nav-menu">
                <span>用户管理</span>
            </button>
            <button mat-menu-item *ngIf="account.current_user.value" (click)="clear_session_storage()" class="nav-menu">
                <span>清除缓存</span>
            </button>
            <button mat-menu-item *ngIf="account.current_user.value" (click)="log_out()" class="nav-menu">
                <span>安全退出</span>
            </button>
        </mat-menu>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div #navbarSpacer class="my-nav-placeholder"></div>
    </div>
</div>