@import '../../../assets/scss/material_theming.scss';
.button-container {
    z-index: 50;
    position: fixed;
    bottom: 1.8rem;
    right: 1.8rem;
    width: 3.6rem;
    height: 3.6rem;
    .guide {
        z-index: 50;
        position: fixed;
        bottom: 1.8rem;
        right: 1.8rem;
        width: 3.6rem;
        height: 3.6rem;
        margin: 0;
        padding: 0;
        border-radius: 1.8rem;
        border-width: 0;
        background-color: $accent-color;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
        .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        .mat-icon {
            flex: auto;
            display: inline-block;
            vertical-align: middle;
            color: white;
        }
    }
    .option {
        z-index: 49;
        position: fixed;
        bottom: 2.3rem;
        right: 2.3rem;
        width: 2.6rem;
        height: 2.6rem;
        margin: 0;
        padding: 0;
        border-radius: 1.3rem;
        border-width: 0;
        background-color: map-get($mat-grey, 500);
        .mat-icon {
            color: white;
        }
    }
}