<div #container class="button-container" (mouseleave)="hidden_menu($event)">
    <button class="guide" (click)="toggle_menu($event)" (mouseenter)="show_menu($event)">
        <div class="helper"></div>
        <mat-icon #navGuideIcon>menu</mat-icon>
    </button>
    <div class="options-container" *ngFor="let button of button_list">
        <button #navOption class="option" mat-mini-fab (click)="toggle_menu($event) && button.callback($event)" [matTooltip]="button.tool_tip && button.tool_tip()"
            matTooltipPosition="left">
            <div class="helper"></div>
            <mat-icon>{{ button.icon() }}</mat-icon>
        </button>
    </div>
</div>