<div class="button-container" (mouseleave)="toggle_menu($event, 'hidden')">
    <button class="guide" (click)="toggle_menu($event)" (mouseenter)="toggle_menu($event, 'show')">
        <div class="helper"></div>
        <mat-icon #navGuideIcon>menu</mat-icon>
    </button>
    <div class="options-container" *ngFor="let button of button_list">
        <button #navOption mat-mini-fab (click)="toggle_menu($event) && button.callback($event)" [color]="button.color && button.color() || 'accent'"
            class="option" [matTooltip]="button.tool_tip && button.tool_tip()" matTooltipPosition="left">
            <div class="helper"></div>
            <svg viewBox="0 0 8 8">
                <use xlink:href="#grid-three-up"></use>
            </svg>
        </button>
    </div>
</div>