<div class="container">
    <div class="row">
        <div #topSpacer></div>
    </div>
    <div class="row">
        <div class="col-lg-12" *ngIf="!article.loading_content.value">
            <h1 class="title">
                {{ title }}
            </h1>
            <mat-divider></mat-divider>
            <markdown class="markdown-container" [data]="content" [renderLatex]="renderLatex">

            </markdown>
        </div>
        <div class="col-lg-12" *ngIf="article.loading_content.value">
            <div class="spinner-container">
                <mat-spinner strokeWidth="5" diameter="50" class="spinner-item"></mat-spinner>
                <div class="spinner-text">加载中...</div>
            </div>
        </div>
    </div>
</div>