@import '../../../assets/scss/material_theming.scss';
.banner {
    background-image: url(/assets/image/pw_maze_white.png);
    background-color: map-get($primary, 400);
    background-blend-mode: color-burn;
    color: white;
    height: 100%;
    margin-bottom: 0;
    h1 {
        outline: none;
        font-family: $font-banner;
        cursor: pointer;
        font-size: 6rem;
        font-weight: 500;
        margin-bottom: 15px;
    }
    p {
        height: 5rem;
        font-size: 2rem;
    }
}

.site-logo {
    width: 8rem;
    height: 8rem;
}

.welcome {
    cursor: pointer; // transform: rotate(5deg);
}

.welcome-height {
    max-height: 32rem;
}

.welcome-position {
    position: absolute;
    top: 7rem;
    right: -2rem;
}

.welcome-anime {
    transition: ease-in-out;
    transition-duration: 100ms;
    &:hover {
        transform: scale(1.05);
    }
}