<div class="jumbotron jumbotron-fluid banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h1 class="display-4" (click)="go_home()">Lazor Blog</h1>
                <p class="lead">平生四恨：一恨鲫鱼多刺，二恨海棠无香，三恨人情如纸，四恨小人猖狂。 ———— 郭德纲 </p>
            </div>
            <div class="col-lg-2">
                <img class="welcome welcome-height welcome-position welcome-anime" src="assets/image/little-man2.png" alt="" (click)="go_home()">
            </div>
        </div>
    </div>
</div>