@import '../../../assets/scss/material_theming.scss';
.banner {
    background-image: url(/assets/image/pw_maze_white.png);
    background-color: map-get($primary, 400);
    background-blend-mode: color-burn;
    color: white;
    h1 {
        outline: none;
        font-family: $font-banner;
    }
}

.site-logo {
    width: 8rem;
    height: 8rem;
}

.welcome {
    cursor: pointer;
    transform: rotate(5deg);
}

.welcome-height {
    max-height: 16rem;
}

.welcome-position {
    position: absolute;
    top: 0rem;
    right: 0rem;
}

.welcome-anime {
    transition: ease-in-out;
    transition-duration: 200ms;
    &:hover {
        transform: scale(1.05) rotate(5deg);
    }
}