@import '../../../../assets/scss/material_theming.scss';
.user-list {
    background-color: #ddd;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 500; // color: rgba(255, 255, 255, 0.54);
    .user-item {
        background-color: #ffffff;
        // width: 100%;
        height: 3rem;
        padding-left: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12); // display: flex;
        // align-items: center;
        // justify-content: space-between;
        // transition: background-color 50ms ease-in-out;
        &:hover {
            background-color: #f0f0f0;
        } // .helper {
        //     display: inline-block;
        //     height: 100%;
        //     vertical-align: middle;
        // }
        a {
            line-height: 3rem;
        }
        .active-status{
            height: 3rem
        }
    }
}