<router-outlet name="banner"></router-outlet>
<div class="container">
    <div class="row align-items-center">
        <mat-card class="col-lg-5">
            <img class="only-image img-fluid" src="assets/image/tran-20160731.13.jpg" alt="" />
        </mat-card>
        <div class="col-lg-7">
            <h2>为什么这么慢？</h2>
            <br>
            <p class="lead">因为服务器是一个 1 核 1 G 1 M 的超低配置腾讯云（怎么全是 1 (ಠ╭╮ಠ) ），所以。。。如果大家愿意赞助我的话，我是很愿意升级配置的 ヽ(•ω•ゞ)</p>
        </div>
    </div>

    <div class="row my-divider"> </div>
    <div class="row align-items-center">
        <div class="col-lg-7">
            <h2>为什么这么慢？</h2>
            <br>
            <p class="lead">因为服务器是一个 1 核 1 G 1 M 的超低配置腾讯云（怎么全是 1 (ಠ╭╮ಠ) ），所以。。。如果大家愿意赞助我的话，我是很愿意升级配置的 ヽ(•ω•ゞ)</p>
        </div>
        <mat-card class="col-lg-5">
            <img class="only-image img-fluid" src="assets/image/tran-20160730.1.jpg" alt="" />
        </mat-card>
    </div>

    <div class="row my-divider"> </div>
    <div class="row align-items-center">
        <mat-card class="col-lg-5">
            <img class="only-image img-fluid" src="assets/image/tran-20160731.52.jpg" alt="" />
        </mat-card>
        <div class="col-lg-7">
            <h2>为什么这么慢？</h2>
            <br>
            <p class="lead">因为服务器是一个 1 核 1 G 1 M 的超低配置腾讯云（怎么全是 1 (ಠ╭╮ಠ) ），所以。。。如果大家愿意赞助我的话，我是很愿意升级配置的 ヽ(•ω•ゞ)</p>
        </div>
    </div>

    <div class="row my-divider"></div>
    <div class="row align-items-center">
        <div class="col-lg-7">
            <h2>为什么这么慢？</h2>
            <br>
            <p class="lead">因为服务器是一个 1 核 1 G 1 M 的超低配置腾讯云（怎么全是 1 (ಠ╭╮ಠ) ），所以。。。如果大家愿意赞助我的话，我是很愿意升级配置的 ヽ(•ω•ゞ)</p>
        </div>
        <mat-card class="col-lg-5">
            <img class="only-image img-fluid" src="assets/image/tran-20160731.94.jpg" alt="" />
        </mat-card>
    </div>
    <div class="row my-divider"></div>
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-5">

            <mat-form-field class="w-100" appearance="outline">
                <mat-label>User Name</mat-label>
                <input matInput [(ngModel)]="name">
            </mat-form-field>

            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="email">
            </mat-form-field>

            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="password" type="password" />
            </mat-form-field>

            <button mat-raised-button class="w-100 submit-button" color="primary" (click)="sign_up($event)">
                现在注册
            </button>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6 text-center">
            <div class="lead">
                或者 &nbsp;&nbsp;
                <button mat-raised-button class="w-75  submit-button" routerLink="/main/auth">
                    立即登录
                </button>
            </div>
        </div>
    </div>
    <div class="row my-divider"></div>
</div>
<router-outlet name="footer"></router-outlet>