@import '../../../../assets/scss/material_theming.scss';
h1.title {
    margin-top: 1.2rem;
    width: fit-content;
    transition: transform 100ms ease-in-out;
}

ul.category-list {
    list-style: none;
    padding: 0rem;
    padding-top: 2rem;
    margin: 0;
    li {
        height: 3.5rem;
        margin-top: 0.2rem;
        position: relative;
        .mat-card {
            height: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-align: left;
            z-index: 1;
            background-color: #fafafa;
            opacity: 0.99;
            font-family: $font-title;
            font-size: 1.2rem;
            padding: 1rem;
            padding-left: 1.2rem;
        }
        .button-box {
            border-radius: 5px;
            background-color: map-get($mat-grey, 300);
            box-shadow: inset -1px -1px 10px rgba(0, 0, 0, 0.30);
            height: 3.5rem;
            position: absolute;
            top: 0;
            .button-container {
                .helper {
                    height: 3.5rem;
                    display: inline-block;
                    vertical-align: middle;
                }
                button {
                    z-index: 0;
                    flex: auto;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
}

.font-sub-title {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
}

.article-title {
    width: 100%;
    height: 3.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    line-height: 3.8rem;
    padding-left: 20px;
}

.no-article {
    width: 100%;
    height: 3.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    line-height: 3.8rem;
    padding-left: 20px;
    font-weight: 300;
    color: map-get($mat-grey, 500);
    .no-article-item {
        transform: translateX(-6rem);
    }
}

ul.article-list {
    background-color: #ddd;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.54);
    li.article-item {
        background-color: #ffffff;
        width: 100%;
        height: 3rem;
        padding-left: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: background-color 50ms ease-in-out;
        &:hover {
            background-color: #f0f0f0;
        } // .helper {
        //     display: inline-block;
        //     height: 100%;
        //     vertical-align: middle;
        // }
        button.article-name {
            display: inline-block;
            vertical-align: middle;
            height: 2rem;
            border-radius: 1rem;
            border-width: 0;
            align-items: center;
            padding: 0rem;
            padding-left: 1rem;
            padding-right: 1rem;
            background-color: map-get($primary, 400);
            color: white;
            font-weight: 300;
            font-size: .8rem !important;
            opacity: 0;
            transform: translateX(-6rem);
        }
        .spacer {
            flex: auto; // display: inline-block;
            vertical-align: middle;
            height: 2rem;
        }
        .article-edit {
            // display: inline-block;
            vertical-align: middle;
            margin-right: 1rem;
            color: map-get($mat-blue, 500);
            cursor: pointer;
        }
        .article-delete {
            // display: inline-block;
            vertical-align: middle;
            margin-right: 1rem;
            color: map-get($mat-red, 500);
            cursor: pointer;
        }
    }
}

.spinner-container {
    height: 100%;
    .spinner-item {
        margin: 0 auto;
        margin-top: 5rem;
    }
    .spinner-text {
        margin-top: 2rem;
        text-align: center;
    }
}