<router-outlet name="butler"></router-outlet>
<div class="container">
    <div class="row">
        <div #topSpacer></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <mat-card>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="display-4 title">Hi, 板蓝根</h1>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row">
                        <div class="col-lg-4">
                            <ul class="category-list">
                                <li *ngFor="let category of _category.list.value">
                                    <mat-card [@showOptions]="category.show_options" (click)="set_current_category(category)">
                                        {{ category.category_name }}
                                    </mat-card>
                                    <div class="container button-box">
                                        <div class="row align-items-center">
                                            <div class="col-lg-6"></div>
                                            <div class="col-lg-6 text-center">
                                                <div class="button-container">
                                                    <div class="helper"></div>
                                                    <button mat-icon-button class="modify-button" color="primary" (click)="action.modify_category($event, category)">
                                                        <mat-icon>create</mat-icon>
                                                    </button>
                                                    <button *ngIf="category.category_type" mat-icon-button class="delete-button" color="warn" (click)="action.delete_category($event, category.category_id)">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div class="col-lg-8">
                            <div class="article-title">
                                Article
                            </div>
                            <ul class="article-list">
                                <li *ngFor="let article of _category.articles.value" class="article-item">
                                    <div class="helper"></div>
                                    <button class="article-name" routerLink="/main/article/{{article.article_id}}" [@loadArticle]="load_article">
                                        {{ article.title }}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div class="row">
    <div #bottomSpacer></div>
</div>
<router-outlet name="footer"></router-outlet>