<router-outlet name="butler"></router-outlet>
<div class="container">
    <div class="row">
        <div #topSpacer></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <mat-card>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="title" (click)="toggle_sort()">Hi, {{account.current_user.value.user_name}}</h1>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row">
                        <div class="col-lg-3">
                            <ul class="category-list" [sortablejs]="category.list.value" [sortablejsOptions]="category_sort_options">
                                <li *ngFor="let category of category.list.value" >
                                    <mat-card [@showOptions]="category.show_options" (click)="set_current_category(category)" [@cateSortState]="toggle_state">
                                        {{ category.category_name }}
                                    </mat-card>
                                    <div class="container button-box">
                                        <div class="row align-items-center">
                                            <div class="col-lg-6"></div>
                                            <div class="col-lg-6 text-center">
                                                <div class="button-container">
                                                    <div class="helper"></div>
                                                    <button mat-icon-button class="modify-button" color="primary" (click)="modify_category($event, category)">
                                                        <mat-icon>create</mat-icon>
                                                    </button>
                                                    <button *ngIf="category.category_type" mat-icon-button class="delete-button" color="warn" (click)="delete_category($event, category.category_id)">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div class="col-lg-9">
                            <div class="article-title font-sub-title">
                                Article
                            </div>
                            <ul *ngIf="!category.loading_articles.value" [sortablejs]="category.articles.value" [sortablejsOptions]="article_sort_options"
                                class="article-list">
                                <li *ngFor="let article of category.articles.value" class="article-item" [@artSortState]="toggle_state">
                                    <button class="article-name" routerLink="/main/article/{{article.article_id}}">
                                        {{ article.title }}
                                    </button>
                                    <span class="spacer"></span>
                                    <a class="article-edit" (click)="go_editor(article.article_id)">编辑</a>
                                    <a class="article-delete" (click)="delete_article(article.article_id, article.title)">删除</a>
                                </li>
                            </ul>
                            <div *ngIf="category.loading_articles.value" class="spinner-container">
                                <mat-spinner strokeWidth="5" diameter="50" class="spinner-item"></mat-spinner>
                                <div class="spinner-text">加载中...</div>
                            </div>
                            <div class="no-article font-sub-title" *ngIf="!articles_num">
                                <div class="no-article-item">
                                    当前分类还没有添加文章
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div #bottomSpacer></div>
    </div>
</div>

<router-outlet name="footer"></router-outlet>