<div style="text-align: center" (keyup)="submit($event)">
    <mat-dialog-content>
        <div class="h3">请确认您将进行如下操作?</div>
        <div class="h1">{{ data.msg }}</div>
    </mat-dialog-content>
    <mat-dialog-actions style="width: 100%;text-align: center; display: flex;">
        <button mat-raised-button [mat-dialog-close]="false" style="flex: 1">取消</button>
        <button mat-raised-button [mat-dialog-close]="true" style="flex: 1" color="warn">确定</button>
    </mat-dialog-actions>
</div>