<router-outlet name="butler"></router-outlet>
<div class="container-fluid editor-container">
    <div class="row">
        <div class="col-lg-6 editor">
            <div class="title-container">
                <input [(ngModel)]="title" />
            </div>
            <nav class="navbar">
                <div class="navbar-nav text-left">
                    <button mat-button routerLink="/main/home" class="nav-item">回主页</button>
                </div>
                <div class="navbar-nav text-right">
                    <button mat-button (click)="go_article()" class="nav-item">查看文章</button>
                </div>
                <div class="navbar-nav text-right">
                    <button mat-button (click)="save_article()" class="nav-item">保存</button>
                </div>
                <div class="navbar-nav flex-grow-1"></div>
                <div class="navbar-nav text-right">

                    <mat-form-field>
                        <span matPrefix>分类：</span>
                        <mat-select [(ngModel)]="category_id">
                            <mat-option *ngFor="let cate of category.list.value" [value]="cate.category_id">
                                {{ cate.category_name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </nav>

            <div #editor class="editor-text-wrapper">
                <textarea class="editor-textarea" [(ngModel)]="content" #contentRef></textarea>
            </div>
        </div>
        <div class="col-lg-6 preview  border-left">
            <div class="title-container">
                <h1>{{title}}</h1>
            </div>
            <div class="editor-preview-wrapper">
                <markdown class="markdown-container" [data]="content" [renderLatex]="render_latex"></markdown>
            </div>
        </div>
    </div>
</div>
<router-outlet name="footer"></router-outlet>