@import '../../../assets/scss/material_theming.scss';
.editor-container {
    background-color: #ff0;
    width: 100%;
    height: 100%;
    .row {
        height: 100%;
        .editor {
            background-color: #f0f0f0;
            width: 100%;
            height: 100%;
            padding: 0;
            overflow-y: hidden;
            .title-container {
                width: 100%;
                input {
                    width: 100%;
                    border-width: 0;
                    outline-style: none;
                    padding: 1rem 2rem;
                    font-size: 2rem;
                }
            }
            .editor-text-wrapper {
                height: calc(100% - 8rem);
                .editor-textarea {
                    font-family: $font-code;
                    resize: none;
                    outline-style: none;
                    border-width: 0;
                    width: 100%;
                    height: 100%!important;
                    padding: 40px;
                }
            }
        }
        .preview {
            background-color: white;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            .title-container {
                width: 100%;
                h1 {
                    width: 100%;
                    border-width: 0;
                    outline-style: none;
                    padding: 1rem 2rem;
                    margin: 0;
                    font-family: $font-title;
                    font-size: 2.6rem;
                }
            }
            .editor-preview-wrapper {
                padding: 0;
                padding-left: 1rem;
                padding-right: 1rem;
                margin: 0;
            }
        }
    }
}