<router-outlet name="butler"></router-outlet>
<div class="container-fluid editor-container">
    <div class="row">
        <div class="col-lg-6 editor">
            <div class="title-container">
                <input [(ngModel)]="title" />
            </div>
            <nav class="navbar">
                <div class="navbar-nav">
                    <button mat-button routerLink="/main/home" class="nav-menu">回主页</button>
                </div>
                <div class="collapse navbar-collapse"></div>
                <div class="navbar-nav">
                    <button mat-button routerLink="/main/home" class="nav-menu">发布更新</button>
                </div>
            </nav>

            <div #editor class="editor-text-wrapper">
                <textarea class="editor-textarea" [(ngModel)]="content" #contentRef></textarea>
            </div>
        </div>
        <div class="col-lg-6 preview  border-left">
            <div class="title-container">
                <h1>{{title}}</h1>
            </div>
            <div class="editor-preview-wrapper">
                <markdown [data]="content" [renderLatex]="render_latex"></markdown>
            </div>
        </div>
    </div>
</div>
<router-outlet name="footer"></router-outlet>