/* You can add global styles to this file, and also import other style files */

@import './assets/scss/bootstrap-fix.scss';
@import './assets/scss/material_theming.scss';
@import './assets/scss/highlight.scss';
@import './assets/scss/markdown.scss';
@import './assets/scss/google-font.scss';
html {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 16px;
    body {
        padding: 0;
        margin: 0;
        width: 100%;
        background-color: #f0f0f0;
        button {
            outline: none !important;
        }
        .container:first-child{
            height: 100%;
        }
    }
}

.my-divider {
    height: 3rem;
}

.title {
    font-family: $font-title; // font-size: 3rem;
    // padding-bottom: 20px;
}

.nav-button {
    font-family: $font-banner;
    font-size: 1.5rem;
    color: #fff;
    mat-icon {
        position: relative;
        top: 0.24rem;
    }
}

.nav-logo {
    font-weight: bolder;
    font-style: italic;
}